* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Pokemon Solid", sans-serif;
  background: #ef4036;
  height: 100vh;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  position: relative;
}

section {
  text-align: center;
}

.content {
  margin-top: 20px;
  width: 100%;
  height: auto;
  position: relative;
}
h2 {
  padding: 10px;
  text-align: center;
  color: #ffcc03;
  font-size: 2em;
}
.content ul {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.content li {
  margin-top: 30px;
  padding: 20px;
  float: left;
}
.content li a {
  transition: all 0.3s;
  display: block;
}
.content li:nth-child(n) a:hover {
  transform: scale(1.1);
}
.content img {
  width: 200px;
  height: 200px;
  text-align: center;
}
