* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
#wrap {
  background: #ef4036;
  height: 100vh;
}
body {
  font-family: "Pokemon Solid", sans-serif;
}
audio {
  right: 0;
  bottom: 0;
  position: absolute;
}
video {
}
header {
  padding-top: 20px;
  text-align: center;
}
header p {
  margin-top: 20px;
  color: #ffcc03;
  font-size: 2em;
}
.content {
  width: 100%;
  height: auto;
}
.content ul {
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.content li {
  padding: 20px;
  float: left;
  overflow: hidden;
}
.content li a {
  transition: all 0.3s;
  display: block;
}
.content li:nth-child(n) a:hover {
  transform: scale(1.1);
}
.content img {
  width: 200px;
  height: 200px;
  text-align: center;
}
